# CAP girovisite
_out
*.db
*.sqlite
connection.properties
default-*.json
.cdsrc-private.json
gen/
node_modules/
target/
resources/
frontend/dist/
# Web IDE, App Studio
.che/
.gen/

# MTA
*_mta_build_tmp
*.mtar
mta_archives/

# Other
.DS_Store
*.orig
*.log

*.iml
*.flattened-pom.xml

# IDEs
# .vscode
# .idea

# @cap-js/cds-typer
@cds-models

build/ui-deployer/
build/dist/
env/
gen/db/node_modules/.package-lock.json
gen/db/node_modules/.bin/handlebars
gen/db/node_modules/.bin/uglifyjs
gen/db/node_modules/@sap/hdi/CHANGELOG.md
gen/db/node_modules/@sap/hdi/index.js
gen/db/node_modules/@sap/hdi/LICENSE
gen/db/node_modules/@sap/hdi/package.json
gen/db/node_modules/@sap/hdi/README.md
gen/db/node_modules/@sap/hdi/lib/ResultTuple.js
gen/db/node_modules/@sap/hdi/lib/main/Container.js
gen/db/node_modules/@sap/hdi/lib/main/ContainerGroup.js
gen/db/node_modules/@sap/hdi/lib/main/ContainerGroupBase.js
gen/db/node_modules/@sap/hdi/lib/main/HDI.js
gen/db/node_modules/@sap/hdi/lib/main/HDIBase.js
gen/db/node_modules/@sap/hdi/lib/main/promises/ContainerGroupPromises.js
gen/db/node_modules/@sap/hdi/lib/main/promises/ContainerPromises.js
gen/db/node_modules/@sap/hdi/lib/main/promises/HDIPromises.js
gen/db/node_modules/@sap/hdi/lib/parameter/APIPrivilege.js
gen/db/node_modules/@sap/hdi/lib/parameter/File.js
gen/db/node_modules/@sap/hdi/lib/parameter/FileWithContent.js
gen/db/node_modules/@sap/hdi/lib/parameter/Folder.js
gen/db/node_modules/@sap/hdi/lib/parameter/FolderWithContent.js
gen/db/node_modules/@sap/hdi/lib/parameter/HDIObject.js
gen/db/node_modules/@sap/hdi/lib/parameter/LibraryConfiguration.js
gen/db/node_modules/@sap/hdi/lib/parameter/Parameter.js
gen/db/node_modules/@sap/hdi/lib/parameter/parameterCheck.js
gen/db/node_modules/@sap/hdi/lib/parameter/Path.js
gen/db/node_modules/@sap/hdi/lib/parameter/PathParameter.js
gen/db/node_modules/@sap/hdi/lib/parameter/PathWithContent.js
gen/db/node_modules/@sap/hdi/lib/parameter/SchemaPrivilege.js
gen/db/node_modules/@sap/hdi/lib/parameter/SchemaRole.js
gen/db/node_modules/@sap/hdi/lib/parameter/TableRow.js
gen/db/node_modules/@sap/hdi/lib/result/DependencyResultTuple.js
gen/db/node_modules/@sap/hdi/lib/result/LibraryInformationResultTuple.js
gen/db/node_modules/@sap/hdi/lib/result/MakeGroupResultTuple.js
gen/db/node_modules/@sap/hdi/lib/result/MetadataContentResultTuple.js
gen/db/node_modules/@sap/hdi/lib/result/MetadataResult.js
gen/db/node_modules/@sap/hdi/lib/result/MetadataResultTuple.js
gen/db/node_modules/@sap/hdi/lib/result/StatusResultTuple.js
gen/db/node_modules/@sap/hdi/lib/util/callback.js
gen/db/node_modules/@sap/hdi/lib/util/connection.js
gen/db/node_modules/@sap/hdi/lib/util/Constants.js
gen/db/node_modules/@sap/hdi/lib/util/schema_escaping.js
gen/db/node_modules/@sap/hdi/lib/util/typeCheck.js
gen/db/node_modules/@sap/hdi/lib/util/wrap.js
gen/db/node_modules/@sap/hdi-deploy/CHANGELOG.md
gen/db/node_modules/@sap/hdi-deploy/deploy.js
gen/db/node_modules/@sap/hdi-deploy/library.js
gen/db/node_modules/@sap/hdi-deploy/LICENSE
gen/db/node_modules/@sap/hdi-deploy/package.json
gen/db/node_modules/@sap/hdi-deploy/README.md
gen/db/node_modules/@sap/hdi-deploy/lib/arguments.js
gen/db/node_modules/@sap/hdi-deploy/lib/check_client.js
gen/db/node_modules/@sap/hdi-deploy/lib/client-info.js
gen/db/node_modules/@sap/hdi-deploy/lib/connections.js
gen/db/node_modules/@sap/hdi-deploy/lib/content.js
gen/db/node_modules/@sap/hdi-deploy/lib/deploy.js
gen/db/node_modules/@sap/hdi-deploy/lib/features.client.js
gen/db/node_modules/@sap/hdi-deploy/lib/fileWalker.js
gen/db/node_modules/@sap/hdi-deploy/lib/fileWorker.js
gen/db/node_modules/@sap/hdi-deploy/lib/hana-helper.js
gen/db/node_modules/@sap/hdi-deploy/lib/hdi_utils.js
gen/db/node_modules/@sap/hdi-deploy/lib/hdi.js
gen/db/node_modules/@sap/hdi-deploy/lib/hdiTables.js
gen/db/node_modules/@sap/hdi-deploy/lib/IgnoreFile.js
gen/db/node_modules/@sap/hdi-deploy/lib/info.js
gen/db/node_modules/@sap/hdi-deploy/lib/json-comment-stripper.js
gen/db/node_modules/@sap/hdi-deploy/lib/liveness-ping.js
gen/db/node_modules/@sap/hdi-deploy/lib/logger.js
gen/db/node_modules/@sap/hdi-deploy/lib/make.js
gen/db/node_modules/@sap/hdi-deploy/lib/messages.hdi.js
gen/db/node_modules/@sap/hdi-deploy/lib/options.js
gen/db/node_modules/@sap/hdi-deploy/lib/ownership_checker.js
gen/db/node_modules/@sap/hdi-deploy/lib/paths.js
gen/db/node_modules/@sap/hdi-deploy/lib/services.js
gen/db/node_modules/@sap/hdi-deploy/lib/shared-password-service.js
gen/db/node_modules/@sap/hdi-deploy/lib/status.js
gen/db/node_modules/@sap/hdi-deploy/lib/tasks.js
gen/db/node_modules/@sap/hdi-deploy/lib/template.js
gen/db/node_modules/@sap/hdi-deploy/lib/utils.js
gen/db/node_modules/@sap/hdi-deploy/lib/version.cloud.js
gen/db/node_modules/@sap/hdi-deploy/lib/version.container-api.js
gen/db/node_modules/@sap/hdi-deploy/lib/version.hdi-version.js
gen/db/node_modules/@sap/hdi-deploy/lib/version.server.js
gen/db/node_modules/@sap/hdi-deploy/lib/filters/PathFilter.js
gen/db/node_modules/@sap/hdi-deploy/lib/filters/regex-helper.js
gen/db/node_modules/@sap/hdi-deploy/lib/privileges/grantor.js
gen/db/node_modules/@sap/hdi-deploy/lib/privileges/privilege_utils.js
gen/db/node_modules/@sap/hdi-deploy/lib/privileges/privileges.js
gen/db/node_modules/@sap/hdi-deploy/lib/privileges/revoker.js
gen/db/node_modules/@sap/hdi-deploy/lib/privileges/strategies.js
gen/db/node_modules/@sap/hdi-deploy/lib/zdm/zdmDeployer.js
gen/db/node_modules/@sap/hdi-deploy/lib/zdm/zdmUtils.js
gen/db/node_modules/@sap/hdi-deploy/lib/zdm/generator/Generator.js
gen/db/node_modules/@sap/hdi-deploy/lib/zdm/generator/artifact-visitors/AccessArtifactParserVisitor.js
gen/db/node_modules/@sap/hdi-deploy/lib/zdm/generator/artifact-visitors/ArtifactVisitor.js
gen/db/node_modules/@sap/hdi-deploy/lib/zdm/generator/artifact-visitors/DataArtifactParserVisitor.js
gen/db/node_modules/@sap/hdi-deploy/lib/zdm/generator/file-artifacts/AccessContainerDuplicate.js
gen/db/node_modules/@sap/hdi-deploy/lib/zdm/generator/file-artifacts/DataContainerDuplicate.js
gen/db/node_modules/@sap/hdi-deploy/lib/zdm/generator/file-artifacts/FileArtifact.js
gen/db/node_modules/@sap/hdi-deploy/lib/zdm/generator/file-artifacts/FileArtifactsFactory.js
gen/db/node_modules/@sap/hdi-deploy/lib/zdm/generator/file-artifacts/HDBCDS.js
gen/db/node_modules/@sap/hdi-deploy/lib/zdm/generator/file-artifacts/HDBRole.js
gen/db/node_modules/@sap/hdi-deploy/lib/zdm/generator/file-artifacts/HDBSequence.js
gen/db/node_modules/@sap/hdi-deploy/lib/zdm/generator/file-artifacts/HDBTable.js
gen/db/node_modules/@sap/hdi-deploy/lib/zdm/generator/file-artifacts/HDIConfig.js
gen/db/node_modules/@sap/hdi-deploy/lib/zdm/generator/file-artifacts/HDINamespace.js
gen/db/node_modules/@sap/hdi-deploy/lib/zdm/generator/model/Model.js
gen/db/node_modules/@sap/hdi-deploy/lib/zdm/generator/model/ModelSerializer.js
gen/db/node_modules/@sap/hdi-deploy/lib/zdm/generator/model-artifacts/Column.js
gen/db/node_modules/@sap/hdi-deploy/lib/zdm/generator/model-artifacts/Context.js
gen/db/node_modules/@sap/hdi-deploy/lib/zdm/generator/model-artifacts/DataControlLanguageModelArtifact.js
gen/db/node_modules/@sap/hdi-deploy/lib/zdm/generator/model-artifacts/DerivedType.js
gen/db/node_modules/@sap/hdi-deploy/lib/zdm/generator/model-artifacts/Entity.js
gen/db/node_modules/@sap/hdi-deploy/lib/zdm/generator/model-artifacts/ModelArtifact.js
gen/db/node_modules/@sap/hdi-deploy/lib/zdm/generator/model-artifacts/ModelArtifactsFactory.js
gen/db/node_modules/@sap/hdi-deploy/lib/zdm/generator/model-artifacts/StructuredType.js
gen/db/node_modules/@sap/hdi-deploy/lib/zdm/generator/model-artifacts/TableModelArtifact.js
gen/db/node_modules/@sap/hdi-deploy/lib/zdm/generator/model-artifacts/View.js
gen/db/node_modules/@sap/hdi-deploy/lib/zdm/resources/cfg/projectionViewConfig.hdbprojectionviewconfig.template
gen/db/node_modules/@sap/hdi-deploy/lib/zdm/resources/cfg/synonym.hdbsynonymconfig.template
gen/db/node_modules/@sap/hdi-deploy/lib/zdm/resources/cfg/zdm_data_access.hdbgrants.template
gen/db/node_modules/@sap/hdi-deploy/lib/zdm/resources/src/namespace.hdinamespace.template
gen/db/node_modules/@sap/hdi-deploy/lib/zdm/resources/src/projectionView.hdbprojectionview.template
gen/db/node_modules/@sap/hdi-deploy/lib/zdm/resources/src/synonym.hdbsynonym.template
gen/db/node_modules/@sap/hdi-deploy/lib/zdm/resources/src/zdm_access.hdbrole.template
gen/db/node_modules/@sap/hdi-deploy/lib/zdm/resources/src/zdm_sequences.hdbrole.template
gen/db/node_modules/@sap/hdi-deploy/lib/zdm/tasks/FinalizeTask.js
gen/db/node_modules/@sap/hdi-deploy/lib/zdm/tasks/InstallTask.js
gen/db/node_modules/@sap/hdi-deploy/lib/zdm/tasks/StartTask.js
gen/db/node_modules/@sap/hdi-deploy/lib/zdm/tasks/Task.js
gen/db/node_modules/@sap/hdi-deploy/lib/zdm/tasks/taskFactory.js
gen/db/node_modules/@sap/xsenv/CHANGELOG.md
gen/db/node_modules/@sap/xsenv/index.js
gen/db/node_modules/@sap/xsenv/LICENSE
gen/db/node_modules/@sap/xsenv/migration.md
gen/db/node_modules/@sap/xsenv/package.json
gen/db/node_modules/@sap/xsenv/README.md
gen/db/node_modules/@sap/xsenv/lib/cacert.js
gen/db/node_modules/@sap/xsenv/lib/cfservice.js
gen/db/node_modules/@sap/xsenv/lib/filter.js
gen/db/node_modules/@sap/xsenv/lib/k8sservice.js
gen/db/node_modules/@sap/xsenv/lib/loadEnv.js
gen/db/node_modules/@sap/xsenv/lib/redactServiceData.js
gen/db/node_modules/@sap/xsenv/lib/serviceBindingService.js
gen/db/node_modules/@sap/xsenv/lib/xsservices.js
gen/db/node_modules/assert-plus/assert.js
gen/db/node_modules/assert-plus/AUTHORS
gen/db/node_modules/assert-plus/CHANGES.md
gen/db/node_modules/assert-plus/package.json
gen/db/node_modules/assert-plus/README.md
gen/db/node_modules/async/all.js
gen/db/node_modules/async/allLimit.js
gen/db/node_modules/async/allSeries.js
gen/db/node_modules/async/any.js
gen/db/node_modules/async/anyLimit.js
gen/db/node_modules/async/anySeries.js
gen/db/node_modules/async/apply.js
gen/db/node_modules/async/applyEach.js
gen/db/node_modules/async/applyEachSeries.js
gen/db/node_modules/async/asyncify.js
gen/db/node_modules/async/auto.js
gen/db/node_modules/async/autoInject.js
gen/db/node_modules/async/bower.json
gen/db/node_modules/async/cargo.js
gen/db/node_modules/async/cargoQueue.js
gen/db/node_modules/async/CHANGELOG.md
gen/db/node_modules/async/compose.js
gen/db/node_modules/async/concat.js
gen/db/node_modules/async/concatLimit.js
gen/db/node_modules/async/concatSeries.js
gen/db/node_modules/async/constant.js
gen/db/node_modules/async/detect.js
gen/db/node_modules/async/detectLimit.js
gen/db/node_modules/async/detectSeries.js
gen/db/node_modules/async/dir.js
gen/db/node_modules/async/doDuring.js
gen/db/node_modules/async/doUntil.js
gen/db/node_modules/async/doWhilst.js
gen/db/node_modules/async/during.js
gen/db/node_modules/async/each.js
gen/db/node_modules/async/eachLimit.js
gen/db/node_modules/async/eachOf.js
gen/db/node_modules/async/eachOfLimit.js
gen/db/node_modules/async/eachOfSeries.js
gen/db/node_modules/async/eachSeries.js
gen/db/node_modules/async/LICENSE
gen/db/node_modules/async/README.md
gen/db/node_modules/async/dist/async.js
gen/db/node_modules/async/dist/async.min.js
gen/db/node_modules/async/dist/async.mjs

# auto generated wildcard
db/.env
resources/girovisitefrontend.zip
